.header{
    height: 95vh;
    background: linear-gradient(to right bottom,
    rgba( $color-heading2, .3),
    rgba($color-heading, .3)), 
      url(./Assets/blog-1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(50% 0%, 100% 0%, 100% 35%, 100%  70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%,
    0% 35%, 0 0);
    
    &__logo-container{
        position: absolute;
        top: 2rem;
        left:2rem;
}
&__logo{
    height: 10rem;
    }
    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }



}
