// COLOR
$color-primary:#00bbf0;
$color2-primary:blue;
$primary-text-color:#ed8a0a;
$grey-light:#f7f7f7;
$color-heading:#6807f9;
$color-heading2:#9852f9;
$color-white:#ffff;
$grey:grey;
$black:black;
$grey-medium:rgba(128, 128, 128, 0.438);


// DEFAULT FONT-SIZE
$default-font-size:1.6rem;

// GRID
$grid-width:114rem;
$space-horizontal:8rem;
$space-vertical:6rem