.volunteers-box{
    background-image: linear-gradient(to bottom, $color-heading2, $color-heading);
    padding: 2.5rem;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 3rem 5rem rgba($black, .7);
    color: $black;
    transition: transform .3s;
    
    
    .volunteer-img{
        height: 15rem;
        border-radius: 50%;
        
    }
    &:hover{
        transform: translateY(-1rem) scale(1.04);
    }
    
}