.heading-primary{
    text-transform: uppercase;
    color: $primary-text-color;
    backface-visibility: hidden;
    margin-bottom: 2.5rem;

    &__main{
        display: block;
        font-size: 4rem;
        letter-spacing: 15px;
        animation: fadeIn 2s ;
       
        
    }
    &__sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1rem;
        animation: moveInRight 2s;
       
    }

}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-heading2, $color-heading);
    -webkit-background-clip: text;
    letter-spacing: 1rem;
    color: transparent;
    transition: all .2s;
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(0,0,0, .2);
    }
}
.heading-tertiary{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight:700;

}
.paragraph{
    font-size: 1.6rem;
    
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}